<!DOCTYPE html>
<html lang="en">

  <%- include ('../partials/head.ejs') %>

<body>
  <%- include ('../partials/header.ejs') %>
    <!-- producto content START-->
    <main class="main_content">
      <h3 class="title">
        <%= title %>
      </h3>
      <div class="main_products">
        <% for(i=0;i<products.length;i++) { %>
          <div class="product_card">
            <ul>
              <li>
                <a href="/products/detail/<%=products[i].id%>">
                  <img src="/images/products/<%=products[i].image%>" alt="">
                  <ul class="card_detail">
                    <li>
                     <h6><%=products[i].name%></h6>
                    </li>
                    <li>Descripción: <%=products[i].description%>
                    </li>
                    <li>Páginas: <%=products[i].pages%>
                    </li>
                    <li>Stock: <%=products[i].stock%>
                    </li>
                    <li><button class="btn-enviar w-100 ">Ver</button></li>
                  </ul>
                </a>
              </li>
            </ul>
          </div>
          <% } %>
      </div>
    </main>
    <!-- producto content END-->
    <%- include ('../partials/footer.ejs') %>
</body>

</html>